/node_modules
/public/hot
/public/storage
/public/images/auction_sections
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/js/main.js
/public/js/admin.js
.vscode
.DS_Store
/node-server/node_modules
/node-server/package-lock.json
/node-server/.env
package-lock.json
public/dist/js/app.js
public/js/live-auction.js
public/mix-manifest.json
