/* ./resources/css/app.css */
@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@layer base {

	input:-webkit-autofill,
	input:-webkit-autofill:hover, 
	input:-webkit-autofill:focus, 
	input:-webkit-autofill:active  {
	    -webkit-box-shadow: 0 0 0 30px white inset !important;
	}

	h2 {
		@apply text-lg font-semibold text-gray-500;
	}

	h4 {
		@apply text-base font-semibold text-gray-500;
	}
}

@layer components {
	.login-container {
		@apply min-h-screen flex w-full flex-wrap justify-center items-center p-4 bg-no-repeat bg-cover bg-center relative;
		z-index: 1;
	}

	.login-container::before {
		@apply block absolute w-full h-full top-0 left-0;
		content: "";
		z-index: -1;
		background: linear-gradient(to bottom, #4884ee, #06bcfb);
	    opacity: 0.9;
	}

	.warehouse-container {
		@apply min-h-screen w-full flex-wrap bg-no-repeat bg-cover relative;
		z-index: 1;
	}

	.warehouse-container::before {
		@apply block absolute w-full h-full top-0 left-0;
		content: "";
		z-index: -1;
		background: linear-gradient(to bottom, #E56717, #FBC042);
	    opacity: 0.9;
	}

	.dashboard-sidebar{
		height: calc(100vh - 3.5rem);
	}

	.dropdown-menu {
		max-height: 500px;
		transition: all 0.5s ease-in-out;
	}

	svg.rotate-90 {
		transform: rotate(90deg);
	}

	
	.custom-checkbox-label::before {
		@apply rounded;
	}
	.custom-checkbox-label::before {
		@apply transition-all delay-100 ease-in-out;
	}
	.custom-checkbox-label::before {
		@apply absolute w-4 h-4 border border-gray-400 bg-white block;
		top: .25rem;
		left: -1.5rem;
		pointer-events: none;
		content: "";
		margin-top: -3px;
	}
	.custom-checkbox-label::after {
		@apply absolute block;
		width: .75rem;
		height: .75rem;
		content: "";
		top: .2rem;
		left: -1.35rem;
		background: no-repeat 50% 50% 50%;
	}

	.custom-checkbox:checked ~.custom-checkbox-label::after {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
	}


	/*Multiselect styles*/
	.multiselect {
		@apply flex flex-col relative mb-3 mt-1;
	}

	.multiselect__container {
		@apply flex flex-col border border-gray-200 border-solid p-3 w-full;
	}
	.multiselect__container:focus {
		@apply border-gray-300;
	}
	.multiselect__select {
		@apply flex justify-between;
	}
	.multiselect__selected {
		@apply flex flex-wrap;
	}
	.multiselect__selected-item {
		@apply rounded px-3 py-2 text-gray-600 mr-1 mt-1 bg-gray-200 flex items-center cursor-pointer;
		font-size: 0.750rem;
	}
	.multiselect__selected-item:hover {
		@apply bg-gray-400 transition-all duration-100 ease-linear;
	}
	.multiselect__input {
		@apply px-1 w-full;
	}
	.multiselect__input:focus {
		@apply outline-none font-semibold;
	}

	.multiselect__content--selected {
		@apply bg-white border border-t-0 border-gray-200 w-full absolute mb-8 z-40;
		box-shadow: 0 0 3px rgba(3;1,30,47,.05);
		max-height: 255px;
	}

	.multiselect__content {
		@apply flex flex-col overflow-y-auto border-solid w-full;
		max-height: 200px;
	}

	.multiselect__search {
		@apply p-3 border-b border-gray-200 border-solid flex justify-between;
	}
	.multiselect__list {
		@apply flex justify-between items-center list-none px-4 cursor-pointer transition-all duration-100 ease-in-out mb-px;
		min-height: 40px;
	}


	.table-box-shadow {
		box-shadow: 0px 2px 6px 0px rgba(50,50,50,0.25);
	}

	/*	/ Pagination styles*/
	.pagination a {
			@apply border border-solid border-gray-300 px-3 py-2;
	}

	.pagination a:not(:last-child) {
		@apply border-r-0;
	}

	/*login*/
	.dropzone {
		@apply rounded-lg py-10 cursor-pointer tracking-widest bg-white;
		border: 2px dashed rgba(90, 103, 216, 0.4);
	}

	.dropzone:hover {
		@apply bg-gray-200;
	}

	.file-input {
		@apply m-auto relative;
		width: 100px;
		height: 48px;
	}


	.file-input input {
		@apply absolute left-0 top-0 px-6 py-3 mt-2 opacity-0;
		z-index: -2;
	}

	.show-content {
		@apply mt-6 px-4 py-2 border border-solid border-gray-300;
	}

	.show-content__row {
		@apply flex flex-col w-full px-4 py-3 border-b border-gray-300;
	}

	.show-content__row:last-child {
		@apply border-b-0;
	}

	/* The container <div> - needed to position the dropdown content */
	.dropdown {
		@apply relative inline-block;
	}

	.dropdown:focus-within .dropdown-menu {
	opacity:1;
	transform: translate(0) scale(1);
	visibility: visible;
	}

	/* Dropdown Content (Hidden by Default) */
	.dropdown-content {
		@apply hidden absolute bg-white shadow-md z-10 right-0 rounded mt-1 border border-solid border-gray-200 py-1;
		min-width: 170px;
	}

	/* Links inside the dropdown */
	.dropdown-content a {
		@apply text-gray-600 px-4 py-3 no-underline block;
	}

	/* Change color of dropdown links on hover */
	.dropdown-content a:hover {
		@apply bg-gray-200;
	}

	/* Show the dropdown menu on hover */
	.dropdown:hover .dropdown-content {
			@apply block;
	}


	.modal-height-sm {
		height: 300px;
	}



	@media only screen and (min-width: 300px) and (max-width: 767px) {
		.modal-height-sm {
			height: 90%;
		}
	}

	.modal-height-md {
		height: 400px;
	}

	@media only screen and (min-width: 300px) and (max-width: 767px) {
		.modal-height-sm {
			height: 90%;
		}
	}

	.modal-height-lg {
		height: 500px;
	}

	@media only screen and (min-width: 300px) and (max-width: 767px) {
		.modal-height-lg {
			height: 90%;
		}
	}

	.modal-height-lg {
		height: 70%;
	}


	@media only screen and (min-width: 300px) and (max-width: 767px) {
		.modal-height-lg {
			height: 90%;
		}
	}

	.modal-height-xl {
		height: 70%;
	}

	
	@media only screen and (min-width: 300px) and (max-width: 767px) {
		.modal-height-xl {
			height: 90%;
		}
	}

	.modal-height-2xl {
		height: 80%;
	}

	@media only screen and (min-width: 300px) and (max-width: 767px) {
		.modal-height-2xl {
			height: 90%;
		}
	}


	.container {
		height: 100vh;
		width: 100vw;
		font-family: Helvetica;
	}

	.mx-input-wrapper input {
		@apply border border-gray-300 border-solid;
	}

	.checkbox_setting:not(:checked), .checkbox_setting:checked {
		position: absolute;
		left: -9999px;
	}

	.checkbox_setting:not(:checked) + label, .checkbox_setting:checked + label {
		position: relative;
		padding-left: 4em;
		padding-top: .25em;
		cursor: pointer;
	}

	.checkbox_setting:not(:checked) + label:before, .checkbox_setting:checked + label:before, .checkbox_setting:not(:checked) + label:after, .checkbox_setting:checked + label:after {
		content: '';
		position: absolute;
		height: 1.5em;
		transition: all .5s ease;
	}

	.checkbox_setting:not(:checked) + label:before, .checkbox_setting:checked + label:before {
		left: 0;
		top: 0;
		width: 3em;
		border: 2px solid #dddddd;
		background: #dddddd;
		border-radius: 1.1em;
		z-index: 0;
	}

	.checkbox_setting:not(:checked) + label:after, .checkbox_setting:checked + label:after {
		left: 0;
		top: 0;
		background-color: #fff;
		border-radius: 50%;
		width: 1.5em;
		border: 1px solid #eee;
	}

	.checkbox_setting:checked + label:after {
		left: 1.65em;
	}

	.checkbox_setting:checked + label:before {
		background-color: #72da67;
		border-color: #72da67;
	}

	.attribute-container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	
	@media only screen and (min-width: 300px) and (max-width: 767px) {
		.attribute-container {
			width: 100%;
		}
	}
	@media only screen and (min-width: 768px) and (max-width: 1023px) {
		.attribute-container {
			width: 100%;
		}
	}

	.row-attributes {
		margin-right: 100px;
		width: 200px;
	}


	@media only screen and (min-width: 300px) and (max-width: 767px) {
		.row-attributes {
			margin-right: 0;
			width: 100%;
		}
	}
	@media only screen and (min-width: 768px) and (max-width: 1023px) {
		.row-attributes {
			margin-right: 50px;
			width: calc(50% - 50px);
		}
	}

	.bg-semi-65 {
		background-color: rgba(0,0,0,.65);
	}
}

@layer utilities {
	.min-h-6 {
		min-height: 1.5rem;
	}

	::-webkit-scrollbar {
		width: 8px;
	}

	::-webkit-scrollbar-thumb {
		@apply rounded-full;
		width: 8px;
	}



	.h-80 {
		height: 80%;
	}
	.h-90 {
		height: 90%;
	}

	.h-100 {
		height: 100%;
	}

	.table-container {
		@apply overflow-x-auto block;
		box-model: border-box;
	}

	.table-responsive {
		@apply w-full text-gray-600;
		border-spacing: 0;
	}



	.table-responsive td {
		@apply py-4 px-3 text-left;
		border-top: 1px solid #eaf0f7;
		flex: 1 1 550px;
	}

	.table-responsive tr th {
		@apply hidden;
	}

	.table-responsive tr th:last-child {
		@apply text-center py-3 px-0;
	}

	.table-responsive tr th:last-child div span {
		@apply w-full;
	}
		
	.table-responsive tbody tr:first-child {
		@apply hidden;
	}

	.table-responsive tr {
		@apply flex flex-row flex-wrap mx-3 my-8;
		border-bottom: 1px solid #eaf0f7;
		box-shadow: 0px 0px 35px -10px rgba(0,0,0,0.75);
	}

	.table-responsive tr:hover {
		@apply cursor-pointer;
	}

	.table-responsive tr .btn-container {
		width: 240px;
	}

	@screen sm {
		.table-responsive tr {
			@apply table-row m-0 shadow-none;
		}

		.table-responsive tr th {
			@apply table-cell;
		}
		
		.table-responsive tr td {
			@apply table-cell;
		}
		
		.table-responsive tbody tr:first-child {
			@apply table-row;
			border-bottom: 2px solid #eaf0f7;
		}

		.parent-div {
			@apply block;
		}

		.label-div {
			@apply hidden;
		}

		.content-div {
			@apply flex-none;
		}
	}

	.loader {
	height: 20px;
	width: 250px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	}

	.loader--dot {
	-webkit-animation-name: loader;
			animation-name: loader;
	-webkit-animation-timing-function: ease-in-out;
			animation-timing-function: ease-in-out;
	-webkit-animation-duration: 3s;
			animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	background-color: black;
	position: absolute;
	border: 2px solid white;
	}

	.loader--dot:first-child {
	background-color: #006ee6;
	-webkit-animation-delay: 0.5s;
			animation-delay: 0.5s;
	}

	.loader--dot:nth-child(2) {
	background-color: #0062cc;
	-webkit-animation-delay: 0.4s;
			animation-delay: 0.4s;
	}

	.loader--dot:nth-child(3) {
	background-color: #0055b3;
	-webkit-animation-delay: 0.3s;
			animation-delay: 0.3s;
	}

	.loader--dot:nth-child(4) {
	background-color: #004999;
	-webkit-animation-delay: 0.2s;
			animation-delay: 0.2s;
	}

	.loader--dot:nth-child(5) {
	background-color: #003d80;
	-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s;
	}

	.loader--dot:nth-child(6) {
	background-color: #003166;
	-webkit-animation-delay: 0s;
			animation-delay: 0s;
	}

	.loader--text {
	position: absolute;
	top: 200%;
	left: 0;
	right: 0;
	width: 4rem;
	margin: auto;
	}

	.loader--text:after {
	content: "Loading.";
	font-weight: bold;
	-webkit-animation-name: loading-text;
			animation-name: loading-text;
	-webkit-animation-duration: 3s;
			animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
	}

	@-webkit-keyframes loader {
	15% {
		-webkit-transform: translateX(0);
				transform: translateX(0);
	}

	45% {
		-webkit-transform: translateX(230px);
				transform: translateX(230px);
	}

	65% {
		-webkit-transform: translateX(230px);
				transform: translateX(230px);
	}

	95% {
		-webkit-transform: translateX(0);
				transform: translateX(0);
	}
	}

	@keyframes loader {
	15% {
		-webkit-transform: translateX(0);
				transform: translateX(0);
	}

	45% {
		-webkit-transform: translateX(230px);
				transform: translateX(230px);
	}

	65% {
		-webkit-transform: translateX(230px);
				transform: translateX(230px);
	}

	95% {
		-webkit-transform: translateX(0);
				transform: translateX(0);
	}
	}

	@-webkit-keyframes loading-text {
	0% {
		content: "Loading";
	}

	25% {
		content: "Loading.";
	}

	50% {
		content: "Loading..";
	}

	75% {
		content: "Loading...";
	}
	}

	@keyframes loading-text {
	0% {
		content: "Loading";
	}

	25% {
		content: "Loading.";
	}

	50% {
		content: "Loading..";
	}

	75% {
		content: "Loading...";
	}
	}

	/*Warehouse Seloection Floating Menu*/

	.circular-menu {
	position: fixed;
	bottom: 1em;
	right: 1em;
	}

	.circular-menu .floating-btn {
	display: block;
	width: 3.5em;
	height: 3.5em;
	border-radius: 50%;
	background-color: hsl(35, 91%, 51%);
	box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
	color: hsl(0, 0%, 100%);
	text-align: center;
	line-height: 3.9;
	cursor: pointer;
	outline: 0;
	}

	.circular-menu.active .floating-btn {
	box-shadow: inset 0 0 3px hsl(35, 91%, 51%);
	}

	.circular-menu .floating-btn:active {
	box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
	}

	.circular-menu .floating-btn i {
	font-size: 1.3em;
	transition: transform .2s;  
	}

	.circular-menu.active .floating-btn i {
	transform: rotate(-45deg);
	}

	.circular-menu:after {
	display: block;
	content: ' ';
	width: 3.5em;
	height: 3.5em;
	border-radius: 50%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -2;
	background-color: hsl(27, 89%, 54%);
	transition: all .3s ease;
	}

	.circular-menu.active:after {
	transform: scale3d(5.5, 5.5, 1);
	transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
	}

	.circular-menu .items-wrapper {
	padding: 0;
	margin: 0;
	}

	.circular-menu .menu-item {
	position: absolute;
	top: .2em;
	right: .2em;
	z-index: -1;
	display: block;
	text-decoration: none;
	color: hsl(0, 0%, 100%);
	font-size: 1em;
	width: 3em;
	height: 3em;
	border-radius: 50%;
	text-align: center;
	line-height: 3;
	background-color: hsla(0,0%,0%,.1);
	transition: transform .3s ease, background .2s ease;
	}

	.circular-menu .menu-item:hover {
	background-color: hsla(0,0%,0%,.3);
	}

	.circular-menu.active .menu-item {
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}

	.circular-menu.active .menu-item:nth-child(1) {
	transform: translate3d(1em,-7em,0);
	}

	.circular-menu.active .menu-item:nth-child(2) {
	transform: translate3d(-3.5em,-6.3em,0);
	}

	.circular-menu.active .menu-item:nth-child(3) {
	transform: translate3d(-6.5em,-3.2em,0);
	}

	.circular-menu.active .menu-item:nth-child(4) {
	transform: translate3d(-7em,1em,0);
	}

	/*Warehouse Selection*/
	.slider {
	width: 300px;
	text-align: center;
	overflow: hidden;
	}
	
	.slides {
	display: flex;
	
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	
	
	
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	
	/*
	scroll-snap-points-x: repeat(300px);
	scroll-snap-type: mandatory;
	*/
	}
	.slides::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	}
	.slides::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 10px;
	}
	.slides::-webkit-scrollbar-track {
	background: transparent;
	}
	.slides > div {
	scroll-snap-align: start;
	flex-shrink: 0;
	width: 300px;
	height: 300px;
	margin-right: 20px;
	border-radius: 5px;
	transform-origin: center center;
	transform: scale(1);
	transition: transform 0.5s;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 100px;
	}
	.slides > div:target {
	/*   transform: scale(0.8); */
	}
	
	.slider > a {
	display: inline-flex;
	width: 2.0rem;
	height: 2.0rem;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin-right: 5px;
	position: relative;
	}
	.slider > a:active {
	top: 1px;
	}
	.slider > a:focus {
	background: #000;
	}

	/*Sweet Alert*/
	.swal-wide{
		width:850px !important;
	}

	.swal-text {
		padding: 0px;
		margin: 0px;
		text-align: center;
	}

	.swal-overlay {
		background-color: rgba(0, 0, 0, 0.6);
	}



}